cellpose==4.2.1.1
easyocr==1.7.2
fastremap==1.20.0
fill-voids==2.1.2
llvmlite==0.48.0
natsort==8.4.0
ninja==1.13.0
pyclipper==1.4.0
python-bidi==0.6.11
pyyaml==6.0.3
roifile==2025.12.12
segment-anything==1.0
setuptools==83.0.0
shapely==2.1.2
torchvision==0.27.1
